@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400&display=swap');

:root{
    --AzulClaro: #2362b6;
    --AzulEscuro: #011733;
    --AzulOpaco: #0c2e5c;
    --Branco: #fff;
    --Preto: #000;
    
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit' , sans-serif;
    
}



/*cabecalho*/
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--AzulEscuro);
    width: 100%;
    padding: 5px 30px;
    
}

.cabecalho_logo{
    display: flex;
    align-items: center;
}

.logo_csrtech{
    width: 100px;
    height: 70px;
}

.img_face_insta:hover{   
    -webkit-transform: rotateZ(-30deg);
    -ms-transform: rotateZ(-30deg);
    transform: rotateZ(-30deg);
    transition: all 0.7s ease;   
}

.lista_header_csrtech{
    display: flex;
    list-style: none;
}

.lista_header_csrtech li a{
    margin-left: 20px;
    text-decoration: none;
    font-size: 20px;
    color: var(--AzulClaro);
    position: relative;
}

.lista_header_csrtech a:before {
    content: "";
    position: absolute;
    z-index: 15;
    width: 100%;
    height: 3px;
    bottom: 0;
    background-color: var(--AzulClaro);
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }

  .lista_header_csrtech a:hover:before{
    visibility: visible;
    -webkit-transform: scaleX(1);
     transform: scaleX(1);
}

.eclipse{
    width: 100%;
    margin-bottom: 10px;
    z-index: 9999;
    position: relative;
}

.contatos_csrtech{
    display: flex;
    margin-top: 100px;
    padding: 0px 20px 0px 20px;
    
}

.contato_sub_csrtech{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 100%;
    padding: 40px;
    text-align: center;
}

.contato_sub_csrtech h1{
    color: var(--AzulEscuro);
    font-size: 30px;
    margin-bottom: 10px;
}

.contato_sub_csrtech span{
    color: var(--AzulClaro);
}

.contato_sub_csrtech p{
    color: var(--AzulEscuro);
    
}



.container_contato_infor_csrtech{
    background-color: var(--AzulOpaco);
    border-radius: 20px;
    text-align: center;
    width: 300px;
    text-align: center;
    margin-top: 20px;
    padding: 15px;
    
   
}

.container_contato_infor_csrtech h3, h4{
    color: var(--Branco);
}

.container_contato_infor_csrtech p{
    color: var(--AzulClaro);
    
}

.container_contato_infor_csrtech:hover{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.maps_local_csrtech h1{
   text-align: center;
   font-size: 30px;
    
}

.maps_local_csrtech span{
    color: var(--AzulClaro);
}

.maps_local_csrtech iframe{
    border-radius: 20px;
    margin-bottom: 38%;
    
}

.direitos_autorais_csrtech{
    background-color: var(--Preto);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    
    
}

.direitos_autorais_csrtech p{
    color:var(--Branco);
}

.direitos_autorais_csrtech span{
    color: var(--AzulClaro);
}

/*botao whats fixed*/

.botao_whats_flutuante{
    position: fixed;
    top: 85%;
    left: 88%;
}

.botao_whats_flutuante img{
    width: 150px;
}

.botao_whats_flutuante:hover{
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    
}







